.wrapper {
    text-align: center;
    box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-top: 25px;
}

.wrapper .display-close {
    opacity: 0;
    transition: opacity ease 1s;
}

.wrapper:hover .display-close {
    opacity: 1;
}

.timedisplay {
    margin: 0;
    color: #fff;
    height: 100%;
    width: 100%;
}

button {
    color: #fff;
    border: 0;
    background: rgb(89, 89, 89);
    display: block;
    font-size: 1.5rem;
    margin-top: 5px;
    width: 100%;
    min-height: 35px;
    cursor: pointer;
}

button:hover {
    color: #e08700;
}

